# Ignore Everything 
*

#dont ignore the following
!.gitignore
!i3
!kitty
!waybar
!wlogout
!wofi
!zsh
!Wallpaper
!sddm_themes

!i3/*
!kitty/*
!waybar/*
!wlogout/*
!wofi/*
!zsh/*
!Wallpaper/*
!sddm_themes/*
