# Ignore Everything 
*

#dont ignore the following
!.gitignore
!i3
!kitty
!waybar
!wlogout
!wofi
!zsh
!Wallpaper
!sddm
!pacman
!packagelist
!grub

!i3/*
!kitty/*
!waybar/*
!wlogout/*
!wofi/*
!zsh/*
!Wallpaper/*
!sddm/*
!install.sh
!pacman/*
!grub/*
